html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  color: #edf2f4;
  background-color: #2b2d42;
  font-family: "Roboto Mono", monospace;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
