body {
  height: 100vh;
  color: #f1faee;
  background-color: #1d3557;
  font-family: "Roboto Mono", monospace;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
